services:
    bot-course:
        build: .
        container_name: bot-course
        ports:
            - "3000:3000"
        environment:
            - MONGO_URI=${MONGO_URI}
            - TOKEN=${TOKEN}
        depends_on:
            - mongo

    mongo:
        image: mongo:latest
        container_name: mongo
        ports:
            - "27017:27017"
        volumes:
            - mongo-data:/data/db
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
volumes:
    mongo-data:
